* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

#content {
	height: 100%;
	width: 100%;
	font-size: 0;
	display: flex;
}

#properties-panel {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: max(75%, calc(100% - 300px));
}

#graph-panel {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: max(75%, calc(100% - 300px));
}

#graph-panel::after {
	content: '';
	background-color: #ccc;
	position: absolute;
	left: 0;
	width: 4px;
	height: 100%;
	cursor: ew-resize;
}

#graph {
	width: 100%;
	height: 100%;
}

#properties-panel {
	width: min(25%, 300px);
	background-color: #222222;
}

#properties-panel {
	padding: 10px;
}

#buttons-properties-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#buttons-properties-panel .button {
	flex: auto;
	background-color: #444444;
	border-radius: 8px;
	color: #dddddd;
	font-size: 16px;
	text-align: center;
	margin: 10px;
	padding: 4px;
	cursor: pointer;
}


#buttons-properties-panel .button:active {
	background-color: #ccc;
	color: #222222;
	transition: 0s
}