* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

#content {
	height: 100%;
	width: 100%;
	font-size: 0;
}

#properties-panel,
#graph {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	overflow-x: hidden;
	width: max(75%, calc(100% - 300px));
}

#properties-panel {
	width: min(25%, 300px);
	background-color: #222222;
}

#layerButtons {
	padding: 10px;
}